
.ipynb_checkpoints/Chicago Inspection-checkpoint.ipynb
.ipynb_checkpoints/chicago-zip-checkpoint.json
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/utils.cpython-311.pyc
chicago-zip.json
Food_data.csv
Untitled.ipynb
